.footer {
    height: 5vh;
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    
    &__link{

        &-item {
           padding: 1rem;
        }
    }
    &__copy {
        font-size: 0.6rem;
        padding-right: 1rem;
    }
}
