.footer {
    height: 9vh;
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    
    .footer__link{
        margin-left: 2rem;
        .footer__link-item {
            padding: 0 1.5rem;
        }
    }
    .copy {
        font-size: 0.6rem;
        padding-right: 3rem;
    }
}